@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Lato:wght@700&family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(22, 9, 58);
  color: aliceblue;
}

.App {
  position: relative;
  height: 100vh;
  margin: auto;
  font-family: 'Open sans', sans-serif;
}

h2,
h3,
h4,
h5 {
  font-family: 'cabin', sans-serif;
  font-weight: 400;
}

.Content {
  position: relative;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 100px 1fr 100px;
}

/* Side bar menu ////////////////////////////// */
.Sidebar {
  position: fixed;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  width: 300px;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  transition: transform ease-in-out 0.3s;
}

.hidden {
  transform: translateX(-100%);
}
.Menu {
  color: #baf1da;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menu-list {
  list-style-type: none;
  width: 100%;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.37);
  height: 70px;
  padding: 1rem 0;
}

/* .popup-item {
} */

.PopUp {
  cursor: default;
  color: black;
  max-width: 300px;
  animation: fade-in 0.3s ease-in-out;
}

.menu-item div {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 1rem;
}

.small-text {
  color: #62b692;
  font-size: 12px;
}

.menu-item p {
  color: #62b692;
  margin-left: 1rem;
}

.countup span {
  font-size: 20px;
  font-weight: bold;
}

.countup p {
  font-size: 12px;
  text-align: right;
}

.country-list {
  list-style-type: none;
  padding: 0;
}

.country-btn {
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.country-btn h4 {
  margin: 0 1rem;
}

.country-btn:hover {
  background-color: rgb(184, 226, 228);
}
/* END Side bar menu ////////////////////////////// */

.map-container {
  width: 100%;
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}

/* Map SVG ///////////////////// */

.Spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 5px solid rgb(255, 238, 238);
  border-top: 5px solid rgb(255, 51, 51);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: spin 1s linear infinite;
}

.marker {
  border-radius: 50%;
  opacity: 0.5;
}

.marker-small {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 217, 0);
}
.marker-medium {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 145, 0);
}
.marker-large {
  width: 60px;
  height: 60px;
  background-color: rgb(255, 51, 0);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 700px) {
  .Sidebar {
    grid-column: 1 / span 2;
    grid-row: 1;
    width: 100%;
    padding-top: 1rem;
    z-index: 10;
    font-size: 12px;
}

  .menu-list {
    display: flex;
  }

  .menu-item {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%;
  }

  .menu-item div {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 0 1rem;
  }
}
